.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #35B6FF;
}

.main {
  padding: 1rem 8rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 1086px;
  width: 100%;
  background-color: #ffffff;
}

.title {
  font-family: 'Pattaya', sans-serif;
  font-size: 4rem;
  color: #35B6FF;
  margin: 0;
}

.question {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: left;
}